/* selector de etiqueta de HTML 
body {
  background:#55efc4;
}

Selector desendiente 
body div nav ul li a {
  propiedades : valores
}

Selector de clase identificado con el punto (.)
.nombre_clase {
  propiedades : valores
}

selector de id se identifica con el numeral(#)
# nombre_id {
  propiedades : valores
*/

.body{
  font-family: 'Mali', cursive;
  color: white;
  background-color:#ff793f;
}

.header{
  height: 103px;
  background-image: url(../imagenes/ms-icon-144x144.png);
  background-repeat: no-repeat;
  background-position-x: right;  
}

.header a{
  text-decoration: none;
  color: white;
}

.esquema-general{
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #2c2c54;
}

.presentacion {
  background-image: url(../imagenes/perfil2.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  height: 200px;
  width: 1000px;
  margin: 40px 100px;
}

.presentacion div{
  width: 500px; 
  margin: auto;
  letter-spacing: 1px;
}

.presentacion strong{
   color: #ffb142;
}

.detalle-presentacion{
  height: 260px;
  margin: 10px 20px;
}

h2{
  color: #ffb142;
  margin: 20px 70px; 
}

h3{
  margin: 20px 100px; 
}

.detalle-conocimientos{
  height: 470px;
  margin: 20px 20px;
  column-count: 3;
}

.detalle-certificaciones{
  height: 470px;
  margin: 20px 20px;
  column-count: 3;
}